* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.three-column-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  justify-items: center;
}

.child-container {
  width: 96%;
  height: 120px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.middle-child {
  margin: 0 5px;
}

h3 {
  font-size: small;
  margin-bottom: 10px;
}

h4 {
  font-size: x-small;
  font-weight: lighter;
}

.grid-auto-flow {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.text {
  text-decoration: underline;
  color: #041850;
  font-size: x-small;
}

.left-padding {
  padding-left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .first-child {
    display: none;
  }
  .middle-child,
  .last-child {
    width: 210px;
    align-items: center;
  }

  .three-column-grid-container {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 480px) and (max-width: 765px) {
  .first-child {
    display: none;
  }
  .middle-child,
  .last-child {
    height: fit-content;
    width: 270px;
    margin-bottom: 5px;
    justify-content: center;
  }

  .three-column-grid-container {
    display: inline-block;
    padding: 5px;
    text-align: -webkit-center;
  }
}

@media screen and (min-width: 320px) and (max-width: 475px) {
  .first-child {
    display: none;
  }
  .middle-child,
  .last-child {
    width: 175px;
    margin-bottom: 5px;
    align-content: center;
    height: fit-content;
  }
  .three-column-grid-container {
    display: inline-block;
    padding: 5px;
    text-align: -webkit-center;
  }
}

@media screen and (min-width: 240px) and (max-width: 318px) {
  .first-child {
    display: none;
  }
  .middle-child,
  .last-child {
    width: 125px;
    margin-bottom: 5px;
    align-content: center;
    height: fit-content;
  }
  .three-column-grid-container {
    display: inline-block;
    padding: 5px;
    text-align: -webkit-center;
  }
}
