* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header-holder {
  background-color: #fcfcfc;
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #b6b6b6;
  border: 1px #b6b6b6;
  width: 80%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto 2fr auto auto;
  padding: 15px;
  align-items: center;
}

.btn-text {
  height: 40px;
  padding: 10px;
  width: fit-content;
  border-radius: 8px;
  background-color: #fcfcfc;
  border: 1px solid #b6b6b6;
  color: black;
  text-align: center;
  margin-right: 10px;
  text-align: center;
}

.two-column-grid{
  display: grid;
  grid-template-columns: auto 1fr;
}

.btn-signup {
  height: 40px;
  padding: 10px;
  width: fit-content;
  border-radius: 8px;
  background-color: #1bc47d;
  text-align: center;
}

.main-header-text {
  color: gray;
  margin-left: 30px;
}

.main-header-text span {
  color: black;
  font-weight: bolder;
}


@media screen and (min-width: 480px) and (max-width: 1020px) {
 .main-header-text{
   display: none;
 }
 .two-column-grid{
  justify-self: end;
 }

 span{
   display: none;
 }

}

@media screen and (min-width: 320px) and (max-width: 470px){
  .main-header-text{
    display: none;
  }
  button{
    font-size: xx-small;
  }
  .main-header-holder, .btn-signup{
    padding: 5px;
  }
}

@media screen and (min-width: 240px) and (max-width: 318px){
  .main-header-text{
    display: none;
  }
  button{
    font-size: xx-small;
  }
  .main-header-holder, .btn-signup{
    padding: 1px;
  }

  .btn-signup{
    font-size: small;
  }
}
