* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
}

.main-holding-container {
  height: 500px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  margin-top: 40px;
  border: 1px gray;
}
